.banner {
  height: 200px;
  width: 100%;
  border-bottom: solid 6px #333;
  background-image: linear-gradient(45deg, #E44652, #FF7760);
}

.banner h1 {
  color: #fff;
}

.content {
  width: 100%;
}

.left-panel {
  float: left
  width: 200px;
  border-right: solid 6px #333;
}

.logo {

}
