body {
    margin: 0;
}

footer {
    padding: 24px;
}

code {
    background: #111;
    color: white;
    padding: 9px 12px;
}

.banner {
  height: 200px;
  width: 100%;
  padding: 0 60px;  
  border-bottom: solid 6px #333;
  background-image: linear-gradient(45deg, #E44652, #FF7760);
}

.banner h1 {
    color: #fff;
    font-family: sans-serif;
    font-size: 100px;
    letter-spacing: -6px;
    line-height: 120px;
    padding: 0
}

.content {
  width: 100%;
}

.left-panel {
  float: left;
  width: 200px;
  border-right: solid 6px #333;
}

.logo {

}
