* {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}


body {
    margin: 0;
}
@font-face {
    font-display: swap;
    font-family: BogleWeb;
    src: url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Bold.eot);
    src: url('https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Bold.eot?#iefix') format("embedded-opentype"),url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Bold.woff2) format("woff2"),url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Bold.woff) format("woff"),url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: BogleWeb;
    src: url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Bold.eot);
    src: url('https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Bold.eot?#iefix') format("embedded-opentype"),url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Bold.woff2) format("woff2"),url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Bold.woff) format("woff"),url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Bold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: BogleWeb;
    src: url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Regular.eot);
    src: url('https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Regular.eot?#iefix') format("embedded-opentype"),url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Regular.woff2) format("woff2"),url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Regular.woff) format("woff"),url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

body {
    font-family: BogleWeb,MyriadPro,Helvetica Neue,Helvetica,Arial,sans-serif
}
/*
footer {
  height: 90px;
  width: 100%;
  padding: 0;  
  border-top: solid 3px #fff;
  background-image: linear-gradient(45deg, #E44652, #FFA661);
}

code {
    background: #111;
    color: white;
    padding: 9px 12px;
}

.banner {
  height: 200px;
  width: 100%;
  padding: 0;  
  border-bottom: solid 6px #fff;
  background-image: linear-gradient(45deg, #E44652, #FFA661);
}

.banner h1 {
    color: #fff;
    font-family: sans-serif;
    font-size: 100px;
    letter-spacing: -6px;
    line-height: 120px;
    padding: 0;
    margin: auto;
    position: relative;
    left: 250px;
    top: 106px;
}

footer h2 {
    color: #fff;
    font-family: sans-serif;
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 60px;
    padding: 0;
    margin: auto;
    position: relative;
    left: 250px;
    top: 10px;
}
*/
.left-panel h2 {
    font-family: font-family: BogleWeb,MyriadPro,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 100%;
    text-align: center;
    color: #fff;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;  
}

.left-panel {
  float: left;
  width: 200px;
  border-right: solid 3px #fff;
  background-color: transparent;
}

.left-panel ul {
    list-style: none;
    padding: 0 20px;
}

li {
    padding:0;
    border-bottom: dotted 1px #eee;
}

.left-panel li a {
 font-family: font-family: BogleWeb,MyriadPro,Helvetica Neue,Helvetica,Arial,sans-serif;
 color: #0071dc;
 text-decoration: none;
 padding: 12px 8px;
 display: block;
 transition-duration: 500ms;
 transition-property: color;
 background: rgba(255, 255, 255, 0.1);
}
.left-panel li a:hover {
    color: #0072dc88;
}
.main-panel {
    flex-grow: 4;
}
.shadow-1 {
    --tw-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15) !important;
}

.shadow-1,.shadow-2 {
    -webkit-box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow)!important;
    -webkit-box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)!important;
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow)!important;
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)!important
}

.z-500 {
    z-index: 500 !important;
}

.top-0 {
    top: 0 !important;
}
.sticky {
    position: sticky !important;
}
.bg-white {
    background-color: rgba(255,255,255, 1) !important;
}
.bg-white, .bg-yellow-180 {
    --tw-bg-opacity: 1 !important;
}
.eea9x {
    width: 1440px;
    margin: auto;
}
.px-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.py-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.justify-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.justify-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.cursor-pointer {
    cursor: pointer !important;
}

.text-blue-100 {
    color: #0071dc !important;
}
.ml-8 {
    margin-left: 8px !important;
}
.text-20 {
    font-size: 20px !important;
}
.font-400 {
    font-weight: 400 !important;
}
@media (min-width: 900px) {
    .lg_w-3\/6 {
        width: 50% !important;
    }
}
@media (min-width: 900px) {
    .lg_ml-64 {
        margin-left: 64px !important;
    }
}
.w-full {
    width: 100% !important;
}
.px-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.ml-0 {
    margin-left: 0 !important;
}

.w-full {
    width: 100% !important;
}
.relative {
    position: relative !important;
}
.m-auto {
    margin: auto !important;
}
@media (min-width: 900px) {
    .lg_text-16 {
        font-size: 16px !important;
    }
}
.text-gray-100 {
    color: #74767c !important;
}
.text-14 {
    font-size: 14px !important;
}
.TextField-module_container__qsU3E {
    position: relative;
    width: 100%;
}

.pnB4p>label {
    height: 0 !important;
}
.FormControlLabel-module_label__6iP45 {
    display: block;
    height: 8px;
    position: relative;
    z-index: 1;
}

.FormControlLabel-module_text__kW-Vb {
    background: #fff;
    box-sizing: border-box;
    color: #74767c;
    display: inline-block;
    font-family: BogleWeb, MyriadPro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    left: 12px;
    line-height: 24px;
    padding: 0 4px;
    position: absolute;
    top: 0;
    transform: scale(.75);
    transform-origin: 0 0;
    transition: transform .1s cubic-bezier(.77,0,.175,1);
}
.pnB4p>div {
    height: 40px;
    border-radius: 21px;
}
.TextField-module_inputContainer__0DsC5 {
    align-items: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #909196;
    display: flex;
    justify-content: space-between;
}
.TextField-module_input__CEokl {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    box-sizing: border-box;
    color: #000;
    flex-grow: 1;
    font-family: BogleWeb, MyriadPro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 16px;
}
.pnB4p>div>span {
    pointer-events: auto;
    padding: 4px 4px 4px 16px;
}

.TextField-module_trailing__BxCrq {
    padding: 0 12px 0 4px;
}
.TextField-module_icon__wFK4Q {
    display: inline-block;
}
.p-8 {
    padding: 8px !important;
}

.bg-spark-100 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(255,194,32, 1) !important;
}

.Popover-module_popoverContainer__bNO0L, .StatefullPopover-module_popoverContainer__jjevh {
    display: inline-flex;
    position: relative;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.w-32 {
    width: 32px !important;
}
.h-32 {
    height: 32px !important;
}
@media (min-width: 900px) {
    .lg_ml-12 {
        margin-left: 12px !important;
    }
}
@media (min-width: 900px) {
    .lg_block {
        display: block !important;
    }
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.text-14 {
    font-size: 14px !important;
}
[type="button"], [type="reset"], [type="submit"], button {
    -webkit-appearance: button;
}

.ml-12 {
    margin-left: 12px !important;
}
.Button-module_small__UMN3W {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
}
.Button-module_primary__rJteP {
    background: #0071dc;
    color: #fff;
    font-weight: 700;
}
.Button-module_button__PM45p {
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    display: inline-flex;
    font-family: BogleWeb, MyriadPro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
.Divider-module_divider__3HRuC {
    border: 0;
    border-bottom: 1px solid #f1f1f2;
    margin: 0;
    width: 100%;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}


@media (min-width: 600px) {
    .md_px-64 {
        padding-left: 64px !important;
        padding-right: 64px !important;
    }
}

@media (min-width: 600px) {
    .md_flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}
.gap-16 {
    grid-gap: 16px !important;
    gap: 16px !important;
}

.no-underline {
    text-decoration: none !important;
}
.text-gray-160 {
    color: #2e2f32 !important;
}
.py-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
a {
    background-color: transparent;
}

.M_UyR {
    background-color: #016fd7;
    background-image: url(https://i5.walmartimages.com/dfw/63fd9f59-8e7a/k2-_47f0310e-10ce-44b2-91fb-fb763da0b5e5.v1.png);
    background-size: cover;
    min-height: 205px;
}

.w-full {
    width: 100% !important;
}
.bg-no-repeat {
    background-repeat: no-repeat !important;
}